:root {
    --color-primary-dark: #212120;
    --color-primary-light: #eeeeee;
    --box-shadow-dark: 6px 6px 12px #171717, 
                    -6px -6px 12px #2b2b29;
    --box-shadow-dark-inset: inset 6px 6px 12px #171717, 
                            inset -6px -6px 12px #2b2b29;
    --box-shadow-light: 6px 6px 12px #c1c1c1, 
                        -6px -6px 12px #ffffff;
    --box-shadow-light-inset: inset 6px 6px 12px #c1c1c1, 
                            inset -6px -6px 12px #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary-light);
    font-family: 'Rubik', sans-serif;
    color: var(--color-primary-dark);
}

nav {
    background-color: var(--color-primary-dark);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.nav-wrapper a {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--color-primary-light);
    text-decoration: none;
    text-transform: lowercase;
    box-shadow: var(--box-shadow-dark);
}

.nav-wrapper a:hover {
    box-shadow: var(--box-shadow-dark-inset);
}

section {
    padding: 64px;
}

.section-line {
    margin-bottom: 32px;
    height: 1px;
    background-color: #a6a6ad;
}

.section-header {
    margin: 0 auto 24px;
    text-align: center;
    font-size: 42px;
    text-transform: lowercase;
}

.section-subheader {
    margin-bottom: 16px;
    font-size: 16px;
    text-align: center;
}

.subsection-header {
    margin-bottom: 8px;
    font-size: 26px;
}

.subsection-subheader {
    margin-bottom: 8px;
    font-size: 16px;
}

.projects-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.projects-wrapper a {
    color: var(--color-primary-dark);
    text-decoration: none;
}

.project {
    margin: 16px;
    border-radius: 8px;
    padding: 24px;
    height: 100%;
    box-shadow: var(--box-shadow-light);
}

.project:hover {
    box-shadow: var(--box-shadow-light-inset);
}

.project a {
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
    display: flex;
    width: 80%;
    bottom: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
}

.contact-wrapper {
    margin: 0 auto;
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.contact-wrapper i {
    border-radius: 8px;
    padding: 16px;
    font-size: 26px;
    color: var(--color-primary-dark);
    box-shadow: var(--box-shadow-light);
}

.contact-wrapper i:hover {
    box-shadow: var(--box-shadow-light-inset);
}
